<div class="container">
    <h1 class="form-title">Registration</h1>
    <form action="#">
        <div class="main-user-info">
            
                <div class="user-input-box ">
                    <input type="text" id="reg_name" class="form-control"
                     placeholder="Enter Full Name">
                </div>
                <div class="user-input-box " >
                    <input type="number" id="reg_acno"  placeholder="Enter Account Number">
                </div>
  
                <div class="user-input-box">
                    <input type="password" id="reg_pswd"  placeholder="Enter Password" >
                </div>
  
          
        </div>
        <div class="form-submit-btn">
            <button type="button" onclick="register()" >Register</button>
        </div>
    </form>
  </div>
  
